# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assembly.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ausu\Desktop\ModRimworldAnnotation\Assembly-CSharp1.2\.idea\.idea.Assembly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
