# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ModRimworldAnnotation.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ausu\Desktop\ModRimworldAnnotation\.idea\.idea.ModRimworldAnnotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
