# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Royalty.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Program Files (x86)\Steam\steamapps\common\RimWorld\Data\Royalty\.idea\.idea.Royalty.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
